/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
	--gradient-color--: gold;
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 80%;
	margin: auto;
	border: 2px solid var(--accent-color);

}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header 
{
border-bottom:2px solid var(--accent-color);
background-image: linear-gradient(30deg, var(--gradient-color--) 0%, white 10%, white 90%, var(--gradient-color--));

	& h2 {
		font-size: 175%;
		padding-bottom: 0;
		
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
		
	}
	& img {
		float: left;
		margin-top: .75em;
		margin-bottom: .75em;
		margin-right: 1em;
		margin-left: 1em;
	}



	
}

/* the styles for the main content */
main {
	clear: left;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

main img
{
	border: 4px double var(--accent-color);
	border-radius: 15px;
}

main h1
{
	border-top: 2px solid var(--accent-color);;
	border-bottom: 2px solid var(--accent-color);;
}

/* the styles for the footer */
footer {
	background-color: var(--accent-color);
	& p {
		color: white;
		text-align: center;
		padding-bottom: 1em;
		padding-top: 1em;
	}
}

/* CSS class */
.large {
	font-size: 125%;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, p, ol
{
	padding-top: .5em;
	padding-bottom: .5em;
}

ul
{
	margin-left: 2em;
}

blockquote
{
	font-style: italic;
	padding-left: 20px;
}
